<!DOCTYPE html>
    <html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="static/css/jquery.fontpicker.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="static/css/main.css" media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script type="text/javascript" src="static/js/jquery-3.6.0.js"></script>
        
        <script src="static/js/jquery.fontpicker.js"></script>

        <style>
            #main_canvas{
                outline: black 5px solid;
            }

            #main_canvas_div{
                height: 100%;
            }

            #image_editing_div{
                height: 70vh;
            }

            .row{
                padding-top: 1em
            }

            tr, th, td {
  		        border: none;
	        }
        </style>

    </head>

    <body>
        <!-- This navbar only appears on mobile -->
        <nav class="nav-extended hide-on-med-and-up blue">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">LaserLobby</a>
                <a href="#" data-target="mobile_sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a class="modal-trigger" href="#mobile_text_options">Text</a></li>
                    <li class="tab"><a class="modal-trigger" href="#mobile_image_options" onclick="getList()">Image</a></li>
                    <li class="tab"><a class="modal-trigger" href="#mobile_shapes_options">Shapes</a></li>
                    <li class="tab"><a class="modal-trigger" href="#mobile_align_options">Align</a></li>
                    <li class="tab"><a id="mobile_delete" href="#" onclick="deleteItems()">Delete</a></li>
                </ul>
            </div>
        </nav>
        
        <ul class="sidenav" id="mobile_sidenav">
            <li><a href="#!" class="modal-trigger" data-target="modal_save_canvas">Save Canvas</a></li>
            <li><a href="#!" id="load_canvas">Load Canvas</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('profile') }}">Profile</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('logout') }}">Logout</a></li>
        </ul>
        <!-- This navbar only appears on tablets and monitors -->
        <div class="navbar-fixed hide-on-med-and-down">
            <ul id="user_dropdown" class="dropdown-content">
                <li><a href="#!" class="modal-trigger" data-target="modal_save_canvas">Save Canvas</a></li>
                <li><a href="#!" id="load_canvas">Load Canvas</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('profile') }}">Profile</a></li>
                <li class="divider"></li>
                <li><a href="{{url_for('logout') }}">Logout</a></li>
            </ul>
            <nav class="blue">
                <div class="nav-wrapper container">
                    <a style="padding-left: 1em;" href="#!" class="brand-logo">LaserLobby</a>
                    <ul style="padding-right: 1em;" class="right hide-on-med-and-down">               
                        <li><a id="username_dropdown" class="dropdown-trigger" href="#!" data-target="user_dropdown"></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="image_editing_div"class="container">
            <div id="editing_row" class="row">
                <div class="col l2 m2 s2 hide-on-med-and-down">
                    <div class="controls">
                        <table>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn" id="select" type="button" onclick="changeAction(this)">Select</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn" id="text" type="button" onclick="changeAction(this)">Text</button>
                                </td>   
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn" id="image" type="button" onclick="changeAction(this)">Image</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn" id="shapes" type="button" onclick="changeAction(this)">Shapes</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn" id="spray" type="button" onclick="changeAction(this)">Spray</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn green" id="objVAlignCenter" onclick="alignObjects('vertical')">Vertical Align</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn green" id="objHAlignCenter" onclick="alignObjects('horizontal')">Horizontal Align</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn red" id="delete_btn" onclick="deleteItems()">Delete Selected</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- Set to show across the whole screen on mobile -->
                <div id="main_canvas_div" class="col l8 m8 s12">
                    <canvas id="main_canvas"></canvas>
                </div>
                <div id="tool_options" class="col l2 m2 s2 hide-on-med-and-down">
                    <div id="text_options" class="hide">
                        <table>
                            <tr>
                                <td>
                                    <input class="hide" id="font_input"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn" id="add_text" type="button" onclick="addText()">Add Text</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 100%" class="btn modal-trigger" id="change_text" type="button" data-target="modal_change_text">Change Text</button>
                                </td>
                            </tr>
                            <tr>
                                <div class="center">
                                    <td>
                                        <button class="btn" style="width: 31%" id="bold">B</button>
                                        <button class="btn" style="width: 31%" id="italic">I</button>
                                        <button class="btn" style="width: 31%" id="underline">U</button>
                                    </td>
                                </div>
                            </tr>
                        </table>
                    </div>
                    <div id="image_options" class="hide">
                        <table>
                            <tr>
                                <td>
                                    <label>Select Image:</label>
                                    <select id="image_select" class="browser-default">
                                        <option disabled selected>Images</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn" style="width: 100%" id="add_image_button">Add</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn modal-trigger" style="width: 100%" type="button" data-target="modal_upload_picture">Upload Image</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="image_preview_div">
                                        <label>Image Preview:</label>
                                        <form>
                                            <img id="image_preview" class="responsive-img" src="">
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="shapes_options" class="hide">
                        <table>
                            <tr>
                                <td>
                                    <button class="btn" style="width: 100%" id="add_rect_button" onclick="addRect()">Add Rectangle</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn" style="width: 100%" id="add_circle_button" onclick="addCircle()">Add Circle</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn" style="width: 100%" id="add_triangle_button" onclick="addTriangle()">Add Triangle</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn" style="width: 100%" id="add_star_button" onclick="addStar()">Add Star</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn" style="width: 100%" id="add_heart_button" onclick="addHeart()">Add Heart</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-field col s12">
                                        <select id="stroke_width">
                                        </select>
                                        <label>Stroke Width:</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="switch">
                                        <label>
                                            Fill:
                                            <input id="fillcheck" type="checkbox">
                                            <span class="lever"></span>
                                            On
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Darkness Value:</label>
                                    <form action="#">
                                        <p class="range-field">
                                          <input type="range" id="color_range" min="0" max="245" />
                                        </p>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="color_preview"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- This displays the modal for editing text -->
        <div id="modal_change_text" class="modal">
            <div class="modal-content">
                <h5>Change text to:</h5>
                <div class="input-field col s6">
                    <input placeholder="" id="edited_text" type="text" class="validate">
                </div>
            </div>
            <div class="modal-footer">
                <a id="apply_edited_text" href="#!" onclick="changeText()" class="modal-close waves-effect waves-green btn-flat">Apply</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
        <!-- This displays the modal for uploading an image -->
        <div id="modal_upload_picture" class="modal">
            <div class="modal-content">
                <table>
                    <form id="upload_form" method="post" enctype="multipart/form-data">
                        <tr>
                            <td colspan="2" class="center">
                                <!-- Upload Image for extraction -->
                                <div class="file-field input-field">
                                    <div class="btn">
                                    <span>File</span>
                                    <input id="file_selector" type="file" name="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <div class="center">
                            <td>
                                <div class="switch">
                                    <label>
                                        Remove Background:
                                        <input id="rbcheck" type="checkbox">
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="btn" id="upload" type="button">Upload</button>
                            </td>
                            </div>
                        </tr>
                    </form>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn modal-close" id="close_image_upload_modal">Cancel</button>
            </div>
        </div>
        <!-- This displays a modal for saving the canvas -->
        <div id="modal_save_canvas" class="modal">
            <div class="modal-content">
                <h5>Save Canvas As:</h5>
                <div class="input-field col s6">
                    <input placeholder="" id="save_canvas_as" type="text" class="validate">
                </div>
            </div>
            <div class="modal-footer">
                <a id="save_canvas" href="#!" class="modal-close waves-effect waves-green btn-flat">Save</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
        <!-- This modal is for text options on mobile -->        
        <div id="mobile_text_options" class="modal bottom-sheet">
            <div class="modal-content">
                <div id="text_options">
                    <table>
                        <tr>
                            <td>
                                <input class="hide" id="font_input_mobile"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button style="width: 100%" class="btn" id="add_text" type="button" onclick="addText()">Add Text</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button style="width: 100%" class="btn modal-trigger" id="change_text" type="button" data-target="modal_change_text">Change Text</button>
                            </td>
                        </tr>
                        <tr>
                            <div class="center">
                                <td>
                                    <button class="btn" style="width: 32%" id="bold_mobile">B</button>
                                    <button class="btn" style="width: 32%" id="italic_mobile">I</button>
                                    <button class="btn" style="width: 32%" id="underline_mobile">U</button>
                                </td>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <!-- This modal is for mobile images options -->
        <div id="mobile_image_options" class="modal bottom-sheet">
            <div class="modal-content">
                <div id="image_options">
                    <table>
                        <tr>
                            <td>
                                <label>Select Image:</label>
                                <select id="image_select_mobile" class="browser-default">
                                    <option disabled selected>Images</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" style="width: 100%" id="add_image_button_mobile">Add</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn modal-trigger" style="width: 100%" type="button" data-target="modal_upload_picture">Upload Image</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="image_preview_div">
                                    <label>Image Preview:</label>
                                    <form>
                                        <img id="image_preview_mobile" class="responsive-img" src="">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <!-- This modal is for mobile shapes options -->
        <div id="mobile_shapes_options" class="modal bottom-sheet">
            <div class="modal-content">
                <div id="shapes_options">
                    <table>
                        <tr>
                            <td>
                                <button class="btn" style="width: 100%" id="add_rect_button" onclick="addRect()">Add Rectangle</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" style="width: 100%" id="add_circle_button" onclick="addCircle()">Add Circle</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" style="width: 100%" id="add_triangle_button" onclick="addTriangle()">Add Triangle</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" style="width: 100%" id="add_star_button" onclick="addStar()">Add Star</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" style="width: 100%" id="add_heart_button_mobile" onclick="addHeart()">Add Heart</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <select id="stroke_width_mobile">
                                    </select>
                                    <label>Stroke Width:</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="switch">
                                    <label>
                                        Fill:
                                        <input id="fillcheck_mobile" type="checkbox">
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Darkness Value:</label>
                                <form action="#">
                                    <p class="range-field">
                                      <input type="range" id="color_range_mobile" min="0" max="245" />
                                    </p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="color_preview_mobile"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <!-- This modal is for mobal align options -->
        <div id="mobile_align_options" class="modal bottom-sheet">
            <div class="modal-content">
                <table>
                    <tr>
                        <td>
                            <button style="width: 100%" class="btn green" id="objVAlignCenter_mobile" onclick="alignObjects('vertical')">Vertical Align</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button style="width: 100%" class="btn green" id="objHAlignCenter_mobile" onclick="alignObjects('horizontal')">Horizontal Align</button>
                        </td>
                    </tr>
                </table>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="static/js/fabric.js"></script>
        <script type="text/javascript" src="static/js/main.js"></script>
        <script type="text/javascript" src="static/js/materialize.min.js"></script>
        <script type="text/javascript" src="static/js/init.js"></script>


        
        <!-- Checks for an image, if there is one then it loads it to the canvas -->
        <script>
            $('#upload').click(function(){
                var form_data = new FormData($('#upload_form')[0]);
                if($("#rbcheck").is(':checked')){
                    $.ajax({
                        type: 'POST',
                        url: '/upload_image_rb',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(data){
                            getList()
                        }
                    });
                    $('#rbcheck').prop('checked', false);
                    $('#close_image_upload_modal').click()
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/upload_image',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(data){
                            getList()
                        }
                    });
                    $('#close_image_upload_modal').click()
                }
            });
        </script>
        
        <!-- Adds image to the canvas -->
        <script>
            $('#add_image_button').click(function(){
                if($('image_select'.find(':selected').text()) != 'Choose Image'){
                    addImage($('#image_select').find(':selected').text())
                }
            });
            $('#add_image_button_mobile').click(function(){
                if($('image_select_mobile').find(':selected').text() != 'Choose Image'){
                    addImage($('#image_select_mobile').find(':selected').text())
                }
            });
        </script>
        <script>
            $( document ).ready(function(){
                $(".dropdown-trigger").dropdown();
            });
        </script>   
        
        <script>
            $(document).ready(function(){
                $.ajax({
                    type: 'POST',
                    url: '/get_user_username',
                    success: function(data){
                        $('#username_dropdown').html(data + '<i class="material-icons right">arrow_drop_down</i>')
                    }
                });
            });
        </script>
    </body>
</html>