<!DOCTYPE html>
    <html>
        <head>
            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="static/css/jquery.fontpicker.css" media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="static/css/main.css" media="screen,projection"/>
            <!--Let browser know website is optimized for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <script type="text/javascript" src="static/js/jquery-3.6.0.js"></script>
        </head>

        <body>
            <div class="navbar-fixed">
                <ul id="user_dropdown" class="dropdown-content">
                    <li><a href = "{{url_for('editor') }}">Back to Editor</a></li>
                    <li class="divider"></li>
                    <li><a href = "{{url_for('logout') }}">Logout</a></li>
                </ul>
                <nav class="blue">
                    <div class="nav-wrapper container">
                        <a style="padding-left: 1em;" href="#!" class="brand-logo">LaserLobby</a>
                        <ul style="padding-right: 1em;" class="right hide-on-med-and-down">               
                            <li><a id="username_dropdown" class="dropdown-trigger" href="#!" data-target="user_dropdown"></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="container center col offset-l4 l4 s12">
                    <div class="center">
                        <h5 class="center">PROFILE</h5>
                    </div>
                    <table>
                        <tr>
                            <td><h5>Name:</h5></td>
                            <td><p id="whole_name"></p></td>
                        </tr>
                        <tr>
                            <td><h5>Username:</h5></td>
                            <td><p id="username"></p></td>
                        </tr>
                        <tr>
                            <td><h5>Email:</h5></td>
                            <td><p id="email"></p></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="center">
                                    <button style="width: 100%" class="btn modal-trigger" data-target="modal_edit_profile">Edit Profile</button>
                                </div>
                            </td>
                            <td>
                                <div class="center">
                                    <button style="width: 100%" class="btn modal-trigger" data-target="modal_change_password">Change Password</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="container center col offset-l4 l4 s12">
                    <table>
                        <tr>
                            <td colspan="2">
                                <h5>Saved Canvases:</h5>
                                <div class="input-field col s12">
                                    <select id="canvas_profile_list" class="browser-default"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button style="width: 100%" class="btn" id="canvas_load">Load</button>
                            </td>
                            <td>
                                <button style="width: 100%" class="btn" id="canvas_delete">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="canvas_preview_div">
                                    <label>Canvas Preview:</label>
                                    <form>
                                        <img id="canvas_preview" class="responsive-img" src="">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>                   
                </div>
            </div>
            <div id="modal_edit_profile" class="modal">
                <div class="modal-content">
                    <h5 class="center">Edit Profile</h5>
                    <form class="col offset-s3 s6" id="edit_profile_form" action="" method = "POST">
                        <div class="row">
                            <div class="input-field">
                                <input id="edit_first" class="validate" placeholder="" type ="text" name ="first" /></p>
                                <label>First Name</label>
                            </div>
                            <div class="input-field">
                                <input id="edit_last" class="validate" placeholder="" type ="text" name ="last" /></p>
                                <label>Last Name</label>
                            </div>
                            <div class="input-field">
                                <input id="edit_email" class="validate" placeholder="" type ="email" name ="email" /></p>
                                <label>Email</label>
                            </div>
                            <div class="input-field">
                                <input id="edit_username" class="validate" placeholder="" type ="text" name ="username" /></p>
                                <label>Username</label>
                            </div>
                        </div>
                        <div class="hide">
                            <input id="edit_profile_submit" type="submit" value = "Submit" /></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a id="apply_edited_profile" href="#!" class="modal-close waves-effect waves-green btn-flat">Apply</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
            <div id="modal_change_password" class="modal">
                <div class="modal-content">
                    <h5 class="center">Change Password</h5>
                    <form class="col offset-s3 s6" id="change_password_form" action="" method = "POST">
                        <div class="row">
                            <div class="input-field">
                                <input id="old_password" class="validate" placeholder="Old Password" type ="password" name ="old_pass" /></p>
                                <label>Old Password</label>
                            </div>
                            <div class="input-field">
                                <input id="new_password" class="validate" placeholder="New Password" type ="password" name ="new_pass" /></p>
                                <label>New Password</label>
                            </div>
                            <div class="input-field">
                                <input id="=validate_password" class="validate" placeholder="Repeat New Password" type ="password" name ="validate_pass" /></p>
                                <label>Repeat New Password</label>
                            </div>
                        </div>
                        <div class="hide">
                            <input id="change_password_submit" type="submit" value = "Submit" /></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a id="apply_changed_password" href="#!" class="modal-close waves-effect waves-green btn-flat">Apply</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
            <!--JavaScript at end of body for optimized loading-->
            <script type="text/javascript" src="static/js/fabric.js"></script>
            <script type="text/javascript" src="static/js/materialize.min.js"></script>
            <script type="text/javascript" src="static/js/main.js"></script> 
            <script type="text/javascript" src="static/js/init.js"></script>
            <!-- Get the users information -->
            <script>
                username = ''
                first = ''
                last = ''
                email = ''
                $(document).ready(function(){
                    $.ajax({
                        type: 'POST',
                        url: '/get_user_username',
                        success: function(data){
                            username = data;
                            $('#username').text(username);
                            $('#edit_username').attr('placeholder', username);
                            $('#username_dropdown').html(username + '<i class="material-icons right">arrow_drop_down</i>')             
                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/get_user_first_name',
                        success: function(data){
                            first = data;
                            $('#edit_first').attr('placeholder', first);
                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/get_user_last_name',
                        success: function(data){
                            last = data;
                            $('#edit_last').attr('placeholder', last);
                            $('#whole_name').text(first + ' ' + last);
                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/get_user_email',
                        success: function(data){
                            email = data;    
                            $('#edit_email').attr('placeholder', email);          
                            $('#email').text(email);
                        }
                    });
                    getCanvasList('profile').then((canvas_list) => {
                        populateCanvasList(canvas_list, 'profile');
                    });
                });
            </script>
            <script>
                $('#apply_edited_profile').on('click', function(){
                    var form_data = new FormData($('#edit_profile_form')[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/profile/profile',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(data){
                        }
                    });
                    M.toast({html: 'Profile Updated.'})
                });
                $('#apply_changed_password').on('click', function(){
                    var form_data = new FormData($('#change_password_form')[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/profile/password',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(data){
                        }
                    });
                    M.toast({html: 'Password Updated.'})
                });
            </script>
            <!-- Enables the dropdown -->
            <script>
                $( document ).ready(function(){
                    $(".dropdown-trigger").dropdown();
                });
            </script>  
        </body>
    </html>